{
  "extends": "../.eslintrc",
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "injector": true,
    "jest": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "max-len": 0,
    "no-console": 0
  }
}
